# Student Outcomes

## Part 1: Data Acquisition

In [1]:
# Import modules

import mysql.connector

import numpy as np

import pandas as pd

The motivation for commencing the H.Dip programme was to determine how to merge datasets with a common linking key/index e.g. student ID, and conduct analysis on this merged dataset, as this reflects the analysis carried out in my everyday research (medical education in an Irish postgraduate medical training body). Previously, a statistician was employed to assist with this work as the volumes of data were too large conventional stats packages, and ever since I have wanted to be able to do this myself, to allow me to complete all stages of my research myself, from planning, execution, data gathering and analysis.  
Therefore, this project aims to simulate a student outcomes research project, including the merging of data by key identifier, the use of SQL database to hold the data, analysis through python packages and presentation through similar. 
After some research, the following 2 datasets were identified for use in this project, as they were relatively similar to the data I wsa dealing with in my previous work:  
1. https://www.kaggle.com/datasets/pratikprasad18/student-records
2. https://www.kaggle.com/datasets/mahmoudelhemaly/students-grading-dataset

Prior to commencing the project, the files were downloaded as csvs to the desktop to examine the possibility of merging columns through the student ID. 

- Issues for this project:

The student records database contains student records for 10000 students. The student performance and behavior dataset contains 5000. To enable matching, student ids were replaced from #1 to 5000 and #1 to 10000, respectively. The other steps required for data clean-up could be completed in pandas

In [2]:
# Confirm the kernel is using the correct Python environment
import sys
sys.executable

'/home/codespace/.python/current/bin/python'

In [3]:
# Install SQLAlchemy and PyMySQL
# %pip in a codespace ensures packages are installed in the kernel's interpreter

%pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in /usr/local/python/3.12.1/lib/python3.12/site-packages (2.0.45)
Requirement already satisfied: pymysql in /usr/local/python/3.12.1/lib/python3.12/site-packages (1.1.2)
Requirement already satisfied: greenlet>=1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import sqlalchemy
import pymysql

### END

In [5]:
# Test the import
import sqlalchemy
import pymysql
import sys
print(sys.executable)
print(sqlalchemy.__version__)

/home/codespace/.python/current/bin/python
2.0.45

In [6]:
# Create a SQLAlchemy engine to connect to MySQL

from sqlalchemy import create_engine

# Replace credentials with your docker-compose settings
engine = create_engine(
    "mysql+pymysql://analyst:analystpassword@localhost:3306/analytics_db"
)

In [7]:
# Install crytography so PyMySQL can handle MySQL 8â€™s default authentication
%pip install cryptography sqlalchemy pymysql --upgrade

Requirement already satisfied: cryptography in /usr/local/python/3.12.1/lib/python3.12/site-packages (46.0.3)
Requirement already satisfied: sqlalchemy in /usr/local/python/3.12.1/lib/python3.12/site-packages (2.0.45)
Requirement already satisfied: pymysql in /usr/local/python/3.12.1/lib/python3.12/site-packages (1.1.2)
Requirement already satisfied: cffi>=2.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from cryptography) (2.0.0)
Requirement already satisfied: greenlet>=1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: pycparser in /home/codespace/.local/lib/python3.12/site-packages (from cffi>=2.0.0->cryptography) (2.23)
Note: you may need to restart the kernel to use updated packages.

In [9]:
# Test the connection
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine(
    "mysql+pymysql://analyst:analystpassword@127.0.0.1:3306/students"
)

query = "SELECT * FROM merged_students LIMIT 5"
df = pd.read_sql(query, engine)
df

,StudentID,Attendance_Percent,Gender,Age,Department,Midterm_Score,Final_Score,Projects_Score,Total_Score,Extracurricular_Activities,Parent_Education_Level,Family_Income_Level
0,S10000,61.70,Female,22,Mathematics,40.61,59.61,62.84,59.8865,Yes,Master's,Medium
1,S10001,69.78,Male,18,Business,57.27,74.00,98.23,81.9170,No,High School,Low
2,S10002,71.95,Male,24,Engineering,41.84,63.85,91.22,67.7170,Yes,High School,Low
3,S10003,81.31,Female,24,Engineering,45.65,44.44,55.48,51.6535,No,High School,Low
4,S10004,81.37,Female,23,CS,53.13,61.77,87.43,71.4030,Yes,Master's,Medium

All of above conversation: https://chatgpt.com/share/695c51ca-c5d4-800d-91fb-ac7140f42fc6

tidy up code with last bit of code it gave.