# Student Outcomes

## Part 1: Data Acquisition

In [1]:
# Import modules

import mysql.connector

import numpy as np

import pandas as pd

The motivation for commencing the H.Dip programme was to determine how to merge datasets with a common linking key/index e.g. student ID, and conduct analysis on this merged dataset, as this reflects the analysis carried out in my everyday research (medical education in an Irish postgraduate medical training body). Previously, a statistician was employed to assist with this work as the volumes of data were too large conventional stats packages, and ever since I have wanted to be able to do this myself, to allow me to complete all stages of my research myself, from planning, execution, data gathering and analysis.  
Therefore, this project aims to simulate a student outcomes research project, including the merging of data by key identifier, the use of SQL database to hold the data, analysis through python packages and presentation through similar. 
After some research, the following 2 datasets were identified for use in this project, as they were relatively similar to the data I wsa dealing with in my previous work:  
1. https://www.kaggle.com/datasets/pratikprasad18/student-records
2. https://www.kaggle.com/datasets/mahmoudelhemaly/students-grading-dataset

Prior to commencing the project, the files were downloaded as csvs to the desktop to examine the possibility of merging columns through the student ID. 

- Issues for this project:

The student records database contains student records for 10000 students. The student performance and behavior dataset contains 5000. To enable matching, student ids were replaced from #1 to 5000 and #1 to 10000, respectively. The other steps required for data clean-up could be completed in pandas

# Import MySQL table for data analysis

Using the merged data table I created in MySQL on the Wamp server, import the data for use in analysis.

In [8]:
import mysql.connector
import pandas as pd

# Connect to MySQL
mysql_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="students"
)

ProgrammingError: 1698 (28000): Access denied for user 'root'@'localhost'

### END